<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- PureCss -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
  <!-- Custom CSS -->
  <link href="/css/app.css" rel="stylesheet">
  <link rel="favicon" href="/favicon.ico" type="image/png">

  <!-- Tab title -->
  <title>RidingOnline</title>
</head>

<body>
    <header class="header">
        <a href="/"><img src="/favicon.ico" alt="logo of the website" /></a>
        <h1>RidingOnline</h1>
        <nav class="pure-menu-horizontal" id="nav">
            <a href="/" class="pure-menu-heading pure-menu-link">Accueil</a>
            <a href="/balades" class="pure-menu-heading pure-menu-link">Balades</a>
            <a href="/inscription" class="pure-menu-heading pure-menu-link">Inscription</a>
            <a href="/connexion" class="pure-menu-heading pure-menu-link">Connexion</a>
        </nav>
    </header>