<%- include('partials/header.ejs') %>
<div aria-label="container" class="container">
    <a href="/balades" class="container__anchor" aria-label="balades à moto">
        <h3 class="container__title">Bienvenue sur RidingOnline</h3>
    </a>
</div>
<%- include('partials/footer.ejs') %>
